<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psy.mybatis.mapper.HomePageCourseMapper" >
  <resultMap id="BaseResultMap" type="com.psy.model.HomePageCourse" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="price_show" property="priceShow" jdbcType="DOUBLE" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="link_type" property="linkType" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, price_show, pic, link, link_type
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from home_page_course
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_page_course
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_page_course
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.psy.model.HomePageCourse" >
    insert into home_page_course (id, title, price_show, 
      pic, link, link_type
      )
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{priceShow,jdbcType=DOUBLE}, 
      #{pic,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, #{linkType,jdbcType=VARCHAR}
      )
  </insert>
  <insert id="insertSelective" parameterType="com.psy.model.HomePageCourse" >
    insert into home_page_course
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="priceShow != null" >
        price_show,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="priceShow != null" >
        #{priceShow,jdbcType=DOUBLE},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.psy.model.HomePageCourse" >
    update home_page_course
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="priceShow != null" >
        price_show = #{priceShow,jdbcType=DOUBLE},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.psy.model.HomePageCourse" >
    update home_page_course
    set title = #{title,jdbcType=VARCHAR},
      price_show = #{priceShow,jdbcType=DOUBLE},
      pic = #{pic,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>