<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.psy.mybatis.mapper.HomePageArticleMapper" >
  <resultMap id="BaseResultMap" type="com.psy.model.HomePageArticle" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="title" property="title" jdbcType="VARCHAR" />
    <result column="abstract" property="abstractText" jdbcType="VARCHAR" />
    <result column="price_show" property="priceShow" jdbcType="INTEGER" />
    <result column="pic" property="pic" jdbcType="VARCHAR" />
    <result column="link" property="link" jdbcType="VARCHAR" />
    <result column="link_type" property="linkType" jdbcType="INTEGER" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, title, abstract, price_show, pic, link, link_type
  </sql>
  <select id="selectAll" resultMap="BaseResultMap">
  	select * from home_page_article
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from home_page_article
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from home_page_article
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.psy.model.HomePageArticle" >
    insert into home_page_article (id, title, abstract, 
      price_show, pic, link, 
      link_type)
    values (#{id,jdbcType=INTEGER}, #{title,jdbcType=VARCHAR}, #{abstract,jdbcType=VARCHAR}, 
      #{priceShow,jdbcType=INTEGER}, #{pic,jdbcType=VARCHAR}, #{link,jdbcType=VARCHAR}, 
      #{linkType,jdbcType=INTEGER})
  </insert>
  <insert id="insertSelective" parameterType="com.psy.model.HomePageArticle" >
    insert into home_page_article
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="title != null" >
        title,
      </if>
      <if test="abstract != null" >
        abstract,
      </if>
      <if test="priceShow != null" >
        price_show,
      </if>
      <if test="pic != null" >
        pic,
      </if>
      <if test="link != null" >
        link,
      </if>
      <if test="linkType != null" >
        link_type,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="title != null" >
        #{title,jdbcType=VARCHAR},
      </if>
      <if test="abstract != null" >
        #{abstract,jdbcType=VARCHAR},
      </if>
      <if test="priceShow != null" >
        #{priceShow,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        #{pic,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        #{linkType,jdbcType=INTEGER},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.psy.model.HomePageArticle" >
    update home_page_article
    <set >
      <if test="title != null" >
        title = #{title,jdbcType=VARCHAR},
      </if>
      <if test="abstract != null" >
        abstract = #{abstract,jdbcType=VARCHAR},
      </if>
      <if test="priceShow != null" >
        price_show = #{priceShow,jdbcType=INTEGER},
      </if>
      <if test="pic != null" >
        pic = #{pic,jdbcType=VARCHAR},
      </if>
      <if test="link != null" >
        link = #{link,jdbcType=VARCHAR},
      </if>
      <if test="linkType != null" >
        link_type = #{linkType,jdbcType=INTEGER},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.psy.model.HomePageArticle" >
    update home_page_article
    set title = #{title,jdbcType=VARCHAR},
      abstract = #{abstract,jdbcType=VARCHAR},
      price_show = #{priceShow,jdbcType=INTEGER},
      pic = #{pic,jdbcType=VARCHAR},
      link = #{link,jdbcType=VARCHAR},
      link_type = #{linkType,jdbcType=INTEGER}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>